
<section class="top-container">
    <h1 class="container">Discover new places</h1>
</section>

<section class="container">
  <a href="http://localhost:5000/experiences"><h4>Experiences</h4></a>

  <div class="experience-container">
    <a href="http://localhost:5000/nature" class="discover-a">
      <img alt="nature" src="../../uploads/mt-fjuji.jpeg">
      <h5>Nature</h5>
      <span class="img-shadow"></span>
    </a>

    <a href="http://localhost:5000/culture" class="discover-a">
      <img alt="culture" src="../../uploads/culture-photo.jpeg">
      <h5>Culture</h5>
      <span class="img-shadow"></span>
    </a>

    <a href="http://localhost:5000/adventure" class="discover-a">
      <img alt="adventure" src="../../uploads/adventure-photo.jpeg">
      <h5>Adventure</h5>
      <span class="img-shadow"></span>
    </a>

    <a href="http://localhost:5000/culture" class="discover-a">
      <img alt="W3Schools" src="../../uploads/urban-photo.jpeg">
      <h5>Urban</h5>
      <span class="img-shadow"></span>
    </a>
  </div>
</section>

<section class="container">
  <div>
      <a href="http://localhost:5000/continents"><h4>Continents</h4></a>

      <div class="experience-container continents-container">
          <a href="http://localhost:5000/europe" class="continent-a discover-a">
            <img alt="europe" src="../../uploads/italy.jpeg">
            <h5>Europe</h5>
            <span class="img-shadow"></span>
          </a>

          <a href="http://localhost:5000/africa" class="continent-a discover-a">
            <img alt="africa" src="../../uploads/africa.jpeg">
            <h5>Africa</h5>
            <span class="img-shadow"></span>
          </a>

          <a href="http://localhost:5000/oceania" class="continent-a discover-a">
            <img alt="oceania" src="../../uploads/australia.jpeg">
            <h5>Oceania</h5>
            <span class="img-shadow"></span>
          </a>

          <a href="http://localhost:5000/northamerica" class="continent-a discover-a">
            <img alt="northamerica" src="../../uploads/n-america.jpeg">
            <h5>North America</h5>
            <span class="img-shadow"></span>
          </a>


          <a href="http://localhost:5000/southamerica" class="continent-a discover-a">
            <img alt="southamerica" src="../../uploads/brazil.jpeg">
            <h5>South America</h5>
            <span class="img-shadow"></span>
          </a>

          <a href="http://localhost:5000/asia" class="continent-a discover-a">
            <img alt="asia" src="../../uploads/japan.jpeg">
            <h5>Asia</h5>
            <span class="img-shadow"></span>
          </a>
      </div>
  </div>
<seciton>

{{>nav}}