<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
        {{#if IDpage}}
        <link rel="stylesheet/css" type="text/less" href="../css/{{style}}" />
        {{else }}
        <link rel="stylesheet/css" type="text/less" href="css/{{style}}" />
        {{/if}}
  
    <title>Travigo</title>
</head>
<body>
    {{{body}}}
</body>
<script src="../script.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" ></script>
</html>