<nav>
    <ul class="container">
        <li>
            <a href="http://localhost:5000/discover"> 
               
                <svg width="512pt" height="512pt" viewBox="0 -2 512 512" class="discover-svg">
                    <path d="m241 507.36v-108.84c-27.258 1.0391-54.254 4.8828-79.941 11.254 4.1367 9.9961 8.6641 19.57 13.566 28.609 19.566 36.055 43.883 60.977 66.375 68.98z"/>
                    <path d="m337.38 438.38c4.9023-9.0352 9.4297-18.613 13.566-28.609-25.688-6.3711-52.684-10.215-79.941-11.254v108.84c22.492-8.0039 46.809-32.926 66.375-68.98z"/>
                    <path d="m241 368.49v-99.816h-109.39c1.3672 38.969 8.0156 77.711 19.148 112.79 28.98-7.4336 59.496-11.875 90.242-12.969z"/>
                    <path d="m241 238.68v-99.816c-30.746-1.0938-61.262-5.5352-90.242-12.965-11.133 35.074-17.781 73.812-19.148 112.78z"/>
                    <path d="m379.95 89.129c18.246-6.1523 35.543-13.641 51.449-22.348-27.93-26.23-61.715-46.301-99.168-57.984 11.219 12.676 21.832 28.051 31.504 45.875 5.9414 10.941 11.348 22.465 16.215 34.457z"/>
                    <path d="m174.62 68.98c-4.9023 9.0391-9.4297 18.613-13.566 28.609 25.688 6.3711 52.684 10.215 79.941 11.254v-108.84c-22.492 8.0039-46.809 32.926-66.375 68.98z"/>
                    <path d="m271 268.68v99.816c30.75 1.0977 61.262 5.5352 90.242 12.969 11.133-35.074 17.781-73.816 19.152-112.79z"/>
                    <path d="m271 138.86v99.816h109.39c-1.3672-38.969-8.0156-77.707-19.148-112.78-28.98 7.4297-59.492 11.871-90.242 12.965z"/>
                    <path d="m121.88 390.04c-11.992-37.758-18.961-79.082-20.301-121.36h-101.58c3.2852 56.68 25.059 108.47 59.367 149.43 19.109-11.09 40.176-20.504 62.512-28.07z"/>
                    <path d="m379.95 418.23c-4.8711 11.992-10.277 23.516-16.215 34.461-9.6719 17.824-20.285 33.195-31.504 45.871 37.453-11.684 71.238-31.754 99.172-57.984-15.91-8.707-33.207-16.195-51.453-22.348z"/>
                    <path d="m132.05 418.23c-18.246 6.1523-35.543 13.641-51.449 22.348 27.93 26.234 61.715 46.301 99.168 57.988-11.215-12.68-21.828-28.051-31.504-45.875-5.9414-10.945-11.348-22.469-16.215-34.461z"/>
                    <path d="m390.12 117.32c11.992 37.758 18.961 79.082 20.301 121.36h101.58c-3.2852-56.68-25.059-108.47-59.367-149.43-19.109 11.09-40.176 20.5-62.512 28.066z"/>
                    <path d="m390.12 390.04c22.336 7.5664 43.402 16.977 62.512 28.066 34.309-40.961 56.082-92.754 59.367-149.43h-101.58c-1.3398 42.281-8.3086 83.605-20.301 121.36z"/>
                    <path d="m271 0v108.84c27.258-1.0391 54.254-4.8828 79.941-11.25-4.1367-10-8.6602-19.574-13.566-28.613-19.566-36.055-43.883-60.977-66.375-68.98z"/>
                    <path d="m121.88 117.32c-22.336-7.5664-43.402-16.977-62.512-28.066-34.312 40.961-56.082 92.754-59.367 149.43h101.58c1.3398-42.281 8.3086-83.605 20.301-121.36z"/>
                    <path d="m132.05 89.129c4.8711-11.992 10.277-23.516 16.215-34.457 9.6719-17.828 20.285-33.199 31.504-45.875-37.453 11.684-71.238 31.754-99.172 57.984 15.91 8.707 33.207 16.195 51.453 22.348z"/>
                </svg>
                <span class="discover-span">Discover</span>

            </a>
        </li>

        <li>
            <a href="http://localhost:5000/createtrip">
                <svg viewBox="0 0 25 25" class="add-svg">
                    <path d="M0 0h24v24H0V0z" fill="none" class="plus"/>
                    <path class="plus-path" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm4 11h-3v3c0 .55-.45 1-1 1s-1-.45-1-1v-3H8c-.55 0-1-.45-1-1s.45-1 1-1h3V8c0-.55.45-1 1-1s1 .45 1 1v3h3c.55 0 1 .45 1 1s-.45 1-1 1z"/>
                </svg>
                <span class="create-trip-span">Create Trip</span>
            </a>
        </li>

        <li>
            <a href="http://localhost:5000/profile/{{username}}">
                <svg enable-background="new 0 0 258.75 258.75" class="profile-svg"
                    version="1.1" 
                    viewBox="0 0 258.75 258.75">

                    <circle cx="129.38" cy="60" r="60" cx="150" cy="100" r="90"/>
                    <path d="m129.38 150c-60.061 0-108.75 48.689-108.75 108.75h217.5c0-60.061-48.689-108.75-108.75-108.75z" cx="150" cy="100" r="90"/>
                </svg>
                <span class="profile-span">Profile</span>
            </a>
        </li>
    </ul>
</nav>